.list-parent-container {
    align-items: center;
    width: 100%;
    display: flex;
    margin-top: 60px;
    padding-top: 20px;
    flex-direction: column;
}

.contact-list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.contact-card {
    width: 350px;
    margin-top: 16;
    margin: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.contact-card:hover {
    scale: 1.03;
}
.edit-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.edit-button-container > button {
    display: flex;
    align-items: center;

    border: none;
    color: blueviolet;
    padding: 0px;
    text-align: center;
}
.table-container {
    overflow-x: auto;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.contacts-table {
    width: 100%;
    white-space: nowrap;
}
.switch-tab {
    margin: 5px;
    font-weight: 600;
}

.pagination {
    margin: 10px;
}

.card-details > p > span {
    font-weight: 600;
}

@media (max-width: 660px) {
    .contact-card {
        width: 90%;
    }
}
